body
{
	background: #EFEFEF;
	color: #4C4C4C;
	font-family: "arial", arial;
	font-size: 16px;
}
header
{
	background: #434343;
	border: 1px solid blue;
	color: white;
	margin: 0;
	padding: .5em;
}

header figure
{
	float: left;
}

header h1
{
	display: block;
	font-size: 20px;
	font-weight: normal;
	display: block;
	margin: 1em 85px 1em 100px;
}

header #home_header
{
	background: #22BCE0;
	border: 1px solid blue;
	color: black;
	display: inline-block;
	float: right;
/*	right: 10px;
	top: 25px;
*/	padding: .6em;
}

header #home_header figcaption
{
	float: right;
	height: 1em;
	line-height: 1em;
}

header #avatar
{
	position: absolute;
	top: 0;
	right: 0;
	margin: 1em 1em;
}

header #avatar figcaption
{
	background: #22BCE0;
	float: right;
	height: 50px;
	line-height: 50px;
}

header #avatar img
{
	float: left;
	width: 50px;
}

header #logo img
{
	width: 80px;
}