@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body
{
	background: #EFEFEF;
	color: #4C4C4C;
	font-family: "PT Sans", Arial;
	font-size: 16px;

}
footer
{
	background: #434343;
	color: #A7A7A7;
	padding: 1em 0;
	text-align: center;
	width: 100%;
}
footer p
{
	margin: 0;
}
header
{
	background: #434343;
	color: white;
	margin: 0;
	padding: .5em;
	position: relative;
}
header:after{
	clear: both;
	content: "";
	display: block;
}
header figure
{
	float: left;
}

header h1
{
	font-size: 20px;
	font-weight: normal;
	margin: 1em 85px 1em 100px;
	display: block;
}

header #avatar
{
	position: absolute;
	top: 0;
	right: 0;
	margin: 1em 1em 0 0;
}

header #avatar figcaption
{
	background: #22BCE0;
	float: right;
	height: 50px;
	line-height: 50px;
}
header #avatar figcaption:after
{
	content: "\e001";
	font-size: .7em;
}

header #avatar img
{
	float: left;
	height: 50px;

}

header #home_header
{
	background: #22BCE0;
	border-radius: 8px 8px 0 0;
	bottom: 0;
	color: white;
	padding: .5em 4em .5em 1em;
	position: absolute;
	right: 15%;
	text-decoration: none;
	width: 5%;
}

header #home_header a
{
	color: white;
	text-decoration: none;
}

header #home_header figcaption
{
	top: 0;
	height: 2em;
	float: right;
	line-height: 2.5em;
	padding: 0 1em 0 2%;
	position: absolute;
	right: 0;
}

header #home_header figcaption:after
{
	content: "\e000";
}

header #logo img
{
	width: 80px;
}

nav
{
	background: #878787;
	font-size: 1em;
	position: relative;
}

nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li 
{
	display: inline-block;
	padding: 0 2%;
}

nav ul li:hover
{
	background: 
}

nav ul li a
{
	color: white;
	text-decoration: none;
}

nav #flecha_nav
{
	background: #22BCE0;
	padding: .5em .2em;
	top: 0
}
nav #flecha_nav:after
{
	content: "\e002";
	font-size: 1em;
}

nav #publicar_nav
{
	background: #DD4F24;
	display: inline-block;
	float: right;
	padding: .5em 1em;
}

nav #publicar_nav:before
{
	content: "\e003";
	padding: 0 1em 0 0;
}

#contenido
{
	left: 0;
	margin: 1em 0 4em 1em;
	position: relative;
	width: 470px;	
}

#principal_article div
{
	background: #E1E1E4;
	border-bottom: 3px #DD4F24 solid;
	border-radius: .5em .5em 0 0;
	bottom: 0;
	margin: 0;
	opacity: .9;
	position: absolute;
}


#principal_article div #votacion_principal_article
{
	font-size: 20px;
	height: 100%;
	margin: .5em 0 0 0;
	left: 1.5em;
	line-height: 1.8em;
	position: absolute;
	top: 0;
	width: 1em;
}
#principal_article div #votacion_principal_article a
{
	text-align: justify;
	text-decoration: none;
	font-size: 27px;
}

#principal_article #titulo_principal_article
{
	font-style: italic;
}

#principal_article #img_principal_article img
{
	width: 470px;

}

 #informacion_princ_art
 {
 	font-size: 14px;
 	padding: 0 1em 0 1em;
 }
#informacion_princ_art #autor_principal_article a
{
	color: #DD4F24;
	text-decoration: none;
}


#titulo_principal_article, #autor_principal_article
{
	margin-left: 15%;
}
#informacion_princ_art #votacion_principal_article #u_principal_article:after,
#informacion_princ_art #votacion_principal_article #d_principal_article:after,
header #home_header figcaption:after,
header #avatar figcaption:after,
nav #flecha_nav:after,
nav #publicar_nav:before
  {
  	color: white;
  	opacity: .7;
  	font-family: "icomoon"
  }
 #informacion_princ_art #votacion_principal_article #u_principal_article:after
 {
 	color: green;
	content: "\e000";
 }
 #informacion_princ_art #votacion_principal_article #d_principal_article:after
 {
 	color: red;
 	content: "\e001";
 }







